<!doctype html>
<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="home.css">
    <title>TODO Task</title>
</head>

<body>
    <section class="Todosection">
        <div class="main-container">
            <h1>TODO App</h1>
            <div class="add-details">
                <form action="/todo-list" method="POST">
                    <input type="text" placeholder="DESCRIPTION" name="task" class="descrip" required>
                    <div class="selection-fase">
                        <h5>Catogary</h5>
                        <select name="crtegory" id="" required>
                            <option value="School">School</option>
                            <option value="Work">Work</option>
                            <option value="Enjoy">Enjoy</option>
                            <option value="Relex">Relex</option>
                        </select>
                        <input type="date" id="" name="duedate" required>
                    </div>
                    <div class="add-btn-section">
                        <button type="submit" class="add-taks">ADD TASK</button>
                        
                    </div>
                </form>
                <div>
                    <a href="/delete"><button class="deletes">DELETE TASKS</button></a>
                </div>
                
            </div>
            <% for(let i of list) {%>
                <div class="add-task-section">
                    <div class="task-details-check">
                        <% if (i.checked==true) { %>

                            <a href="/update/<%=i._id%>"><i class="fa-solid fa-square-check blue"></i></a>
                            <%} else { %>
                                <a href="/update/<%=i._id%>"><i class="fa-solid fa-square red"></i></a>
                                <% } %>
                                    <div>
                                        <h3>
                                            <%=i.task%>
                                        </h3>
                                        <h5>
                                            <%=i.duedate%>
                                        </h5>
                                    </div>
                    </div>
                    <div>
                        <div class="catagory-sec">
                            <%=i.crtegory%>
                        </div>
                    </div>
                </div>

                <% } %>


        </div>
    </section>
    <script src="home.js"></script>
</body>

</html>